.btn {
  //width: 165px;
  padding: 8px 24px;
  // background: $mv-blue-color;
  border-width: 2px;
  border-style: solid;
  border-radius: 0px;
  box-sizing: border-box;
  box-shadow: 0px 4px 0px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-opacity:hover {
  background-color: transparent;
  border-color: white;
  opacity: 1;
}
.btn-opacity {
  background-color: transparent;
  width: fit-content;
  opacity: 0.4;
  transition: 0.5s;
}
.btn-transparent:hover {
  background-color: transparent;
  border-color: white;
}
.btn-transparent {
  background-color: transparent;
  width: fit-content;
  transition: 0.5s;
  margin: auto;
}
.btn-secondary {
  width: fit-content;
  background-color: transparent;
  border-color: white;
  color: white;
}
.btn-primary {
  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  gap: 16px;

  /* primary */
  border: 2px solid #2400fd;
  box-shadow: 0px 5px 0px #7a64f9;
}
.btn:not([class*="btn-outline-"]):hover {
  background-color: rgb(255, 255, 255, 0.2);
  border-color: white;
}
