$datepicker__background-color: white !default;
$datepicker__border-color: #f2f0ff !default;
$datepicker__highlighted-color: #3dcc4a !default;
$datepicker__muted-color: #ccc !default;
$datepicker__selected-color: $mv-blue-color !default;
$datepicker__text-color: #000 !default;
$datepicker__header-color: #000 !default;
$datepicker__navigation-disabled-color: lighten(
  $datepicker__muted-color,
  10%
) !default;

$datepicker__border-radius: 2px !default;
$datepicker__day-margin: 0 !default;
$datepicker__font-size: 0.8rem !default;
$datepicker__font-family: 'DM Sans', sans-serif !default;
$datepicker__item-size: 42px !default;
$datepicker__margin: 0.4rem !default;
$datepicker__navigation-button-size: 32px !default;
$datepicker__triangle-size: 0px !default;
