/** HOMEPAGE **/
.homePage {
    max-width: 100%!important;
    padding: 0px;
  }
  .sectionOneHomeForm {
    max-width: 100%!important;
    background-color: #2400FD;
  }
  .sectionOneHomeRowOne {
    height: 100%;
  }
  .sectionOneHomeContent {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: space-around;
    max-width: 60%;
    padding-left: 8%;
    padding-right: 8%;
    flex-basis: auto;
  }
  .sectionOneHomeContent img {
    width: 200px;
    height: auto;
    margin: 7% 0%;
  }
  .sectionOneHomeContent h2 {
    margin-bottom: 10%;
  }
  .sectionOneHomeInput {
    height: 48px;
    background: $mv-blue-color;
    box-shadow: 0px 2px 0px rgba(255, 255, 255, 0.32);
    border: none;
    margin: 8px 0px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: -0.5px;
    color: #C3BFD8;
    border-radius: 0%;
    margin-bottom: 35px;
  }
  .sectionOneHomeInput:focus {
    background-color: transparent;
    box-shadow: 0px 2px 0px rgba(255, 255, 255, 0.32);
    border: none;
    border-radius: 0%;
    color: #FFFFFF;
  }

  .sectionOneHomeInput::placeholder {
    color: #C3BFD8;
  }
  .maxLength {
    color: #C3BFD8;
  }
  .noAds p {
    font-size: 12px;
line-height: 16px;
margin-top: 32px;
opacity: 0.6;
  }
  .sectionTwoHome {
    background: $mv-dark-blue-color;
    padding: 10%;
    background-image: url('/vote.svg');
    background-position: 105% 46%;
    background-repeat: no-repeat;
  }
  .sectionTwoHomeImage {
    display: none;
  }
  .sectionTwoRowOne {
    text-align: center;
    justify-content: space-around;
    margin-bottom: 15%;
  }
  .sectionTwoRowOneCol  P {
    margin: auto 20%;
  }
  .btn-sectionTwoHome {
  border: none;
  box-shadow: 0px 4px 0px #7A64F9;
  width: 100%;
  margin-top: 85px;
  }
  .sharing {
    width: 100%;
    text-align: center;
    justify-content: center;
    margin-top: 20%;
  }
  .sharing p {
    margin-right: 15px;
    margin-top: 32px;
    }
  .sharing a {
  margin: 0% 15px;
  display: flex;
  }
  .sharing img {
    margin: 16px 15px 0px;
    width: 22px;
    }
  


    @media screen and (min-width: 1300px) {
     
      .sectionOneHomeForm {
        background-image: url('/chevron-bicolore.svg');
        background-size: 40%;
        background-position: right;
        background-repeat: no-repeat;
      }
    }
    @media screen and (min-width: 1024px) and (max-width: 1299px) {    
      .sectionOneHomeForm {
        background-image: url('/chevron-bicolore.svg');
        background-size: contain;
        background-position: 120% center;
        background-repeat: no-repeat;
      }
    }
   
    
    @media screen and (min-width: 911px) and (max-width: 1023px) {    
      .sectionOneHomeForm {
        background-image: url('/chevron-bicolore.svg');
        background-size: contain;
        background-position: 140% center;
        background-repeat: no-repeat;
      }
    }
    @media screen and (max-width: 910px) {
      .sectionOneHomeContent {
        flex-basis: auto;
        margin: auto 30px;
        max-width: 80%;
        }
        .sectionTwoHome {
          background-position: 110% 54%;
        }
        .sectionTwoRowOne  {
          flex-direction: column;           
          margin-bottom: 66%;  
        }
        .sectionTwoRowOneCol  {
          padding: 0px;
        }
        .sectionTwoRowOneCol h4 {
          line-height: 28px;
        }
        .sectionTwoRowOneCol p {
          line-height: 18px;
          margin: 40px 13% 60px;
        }
    }
    @media screen and (min-width: 619px) {
    .sectionOneHomeForm, .sectionOneHomeContent {
      min-height: 100vh;
    }
    .sectionTwoRowTwoCol h3 {
      margin-bottom: 70px;
    }
  }
    @media screen and (max-width: 618px) {
      
      .sectionOneHomeContent {
        align-content: center;
        
        justify-content: space-around;
        max-width: 100%;
        margin: auto 30px;
        flex-basis: auto;
      }
      .sectionOneHomeInput {
        margin-top: 30px!important;
      }
      .sectionOneHomeContent img {
        margin: 7% auto;
    }
    .sectionOneHomeContent .row {
      text-align: center;

  }
  .sectionOneHomeContent .row h2 {
    margin: auto;
    font-size: 32px;
    line-height: 38px;
}
.sectionOneHomeContent .row h4 {
  margin: auto;
  font-size: 20px;
  line-height: 32px;
}
.sectionOneHomeContent .row p {
  margin: 32px auto;
}
.sectionOneHomeContent .row button {
  width: 100%;
}

.sectionTwoHome {
  background: $mv-dark-blue-color;
  background-image: none;
  padding: 0px;
}
.sectionTwoHomeImage {
  display: inline-block;
  text-align: right;
    width: 100%;
}
.sectionTwoHomeImage img {
  
    width: 75%;
}
.sectionTwoRowOne  {
  margin: 70px auto 0px;
  padding: 10%;
  width: 100%;
}

.sectionTwoRowTwoCol {
  margin: 30px;
  flex-direction: column;
    text-align: center;
}
.sectionTwoRowTwoCol h3 {
  font-size: 40px;
  line-height: 42px;
}
.sectionTwoRowTwoCol h5 {
  font-size: 16px;
  line-height: 18px;
}
.sectionTwoRowTwoColText p {
  font-size: 16px;
  line-height: 22px!important;
  margin: 16px auto 50px;
}
.sectionTwoRowThreeCol {
  width: 100%;
  margin: 30px;
  text-align: center;
}
.sectionTwoRowThreeCol img {
  margin-right: 6px!important;
}
.sharing p {
  font-size: 12px;
  line-height: 16px;
 

  }
  .sharing {
    margin: 60px 0px 75px;
    }
    }