.resultPage {
    background-image: url('/background-woman-left.svg'), url('/background-woman-right.svg');
    background-position: left bottom, right bottom;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: auto 300px;
    padding: 60px 25%;
}
.resultCard {
   
    margin: auto;
}
.card-header h4 {
    font-size: 15px;
    line-height: 24px;
    color: #2400FD;
}
.sectionHeaderResult {
    background-color: white;
    max-width: 100%;
    padding: 30px 70px;
}
.sectionHeaderResultSideCol img {
    margin-right: 10px;
}
.sectionHeaderResultSideCol p {
    color: #8F88BA;
    font-size: 14px;
    line-height: 16px;
    margin-top: 16px;
}
.sectionHeaderResult h3 {
    color: #0A004C;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
}
.sectionHeaderResultSideCol {
    display: flex;
}
.sectionHeaderResultMiddleCol {
    align-items: center;
    display: flex;
}
@media screen and (max-width: 500px) {
    .sectionHeaderResult {
        padding: 24px;
    }
    .sectionHeaderResult h3 {
        text-align: left;
    }
    .sectionHeaderResult .row {
        margin: 0px;
    }
    .sectionHeaderResultSideCol {
        padding: 0px;
    }
}