// mieux voter vars
$mv-blue-color: #2400fd;
$mv-dark-blue-color: #0a004c;
$mv-light-color: #efefff;
$mv-light-color-hover: rgba(#efefff, 0.8);
$mv-dark-color: #333;

// Override default variables before the import bootstrap
$body-bg: #000000;
$body-color: $mv-light-color;

$theme-colors: (
  "primary": $mv-blue-color,
  "secondary": $mv-dark-blue-color,
  "light": $mv-light-color,
  "dark": $mv-dark-color,
  "danger": #990000,
  "success": #009900,
  "info": #2b8299,
  "warning": #ff6e11,
);

@import "_bootstrap.scss";
@import "app.scss";
@import "_homePage.scss";
@import "_newVote.scss";
@import "_resultVote.scss";
@import "_header.scss";
@import "_vote.scss";
@import "_buttons.scss";
@import "_footer.scss";
