.tacky {
  margin: 0;
  padding: 0;
  list-style-type: none;
  flex-basis: auto;
}

.tacky col {
  display: inline-block;
}

.tacky col:after {

  margin: 0 5px;
}

.tacky col:last-of-type:after {
  content: "";
  margin: 0;
}

.tacky col.no-tack:after {
  content: "";
  margin: 0;
  display: none;
}

@media screen and (max-width: 930px) {
  footer {
    display: none!important;
  }

}
