.loader {
  top:0;
  left:0;
  height:100%;
  width:100%;
  position:fixed;
  z-index:15;
}

.loader > img {
  width:150px;
  height:150px;
  position:absolute;
  margin:-75px 0 0 -75px;
  top:50%;
  left:50%;
  z-index:16;
}
